.header-container {
  display: flex;
  justify-content: space-between;
}

.form-footer {
  display: flex;
  justify-content: flex-end;
};

.form-button {
  margin-right: 15px;

  &:last-child {
    margin-right: 0;
  }
};